<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styly.css') }}">
</head>
<body>
<nav>
<ul class="horizontal">
  <li><a href="http://127.0.0.1:5000/home">Domů</a></li>
  <li><a href="http://127.0.0.1:5000/tabulka">Tabulka</a></li>
  {% if not email %}
    <li><a href="http://127.0.0.1:5000/login">Login</a></li>
    <li><a href="http://127.0.0.1:5000/register">Register</a></li>
    {% else %}
    <li style="float:right;"><a href="http://127.0.0.1:5000/logout">Logout</a></li>
    <li style="float:right;">
        <div style="color: white; padding-top: 10px;">
            Vítejte uživateli: {{ email }}
        </div>
    </li>
{% endif %}

</ul>
</nav>
<div class="obalka_20x20">
  {{error}}
  <div class="obalka_form">
            <h1>Login</h1>
    <div class="container">
      <form method="POST">
        <label for="email"><b>email</b></label>
        <input type="email" placeholder="email" name="email" id="email" required>

        <label for="psw"><b>Heslo</b></label>
        <input type="password" placeholder="Heslo" name="psw" id="psw" required>
<br>
        <button type="submit" class="loginbtn">Přihlaš se</button>
    </div>
      </form>
  </div>

</div>
</body>
</html>