<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styly.css') }}">
</head>
<body>
<nav>
<ul class="horizontal">
  <li><a href="http://127.0.0.1:5000/home">Domů</a></li>
  <li><a href="http://127.0.0.1:5000/tabulka">Tabulka</a></li>
  {% if not email %}
    <li><a href="http://127.0.0.1:5000/login">Login</a></li>
    <li><a href="http://127.0.0.1:5000/register">Register</a></li>
    {% else %}
    <li style="float:right;"><a href="http://127.0.0.1:5000/logout">Logout</a></li>
    <li style="float:right;">
        <div style="color: white; padding-top: 10px;">
            Vítejte uživateli: {{ email }}
        </div>
    </li>
{% endif %}
</ul>
</nav>
<div class="obalka_20x20">
  <div class="obalka_form">
    <table>
      <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
</body>
</html>